.website{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: main;
    src: url(./assets/fonts/Young_Serif/YoungSerif-Regular.ttf);
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(36, 36, 36);

}


*::-webkit-scrollbar-thumb {
    background: rgb(213, 39, 118);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(217, 0, 98);
}

.home{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('./assets/bg2.jpg');
    background-size: cover;
}

.overlay{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 0;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    height: 200px;
    width: 200px;
    margin-top: -50px;
    /* background-color: blue; */
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 25px;
    /* background-color: blue; */
}



li a{
    color: rgb(213, 39, 118);
    font-size: 25px;
    display: flex;
    cursor: pointer;
    font-family: main;
    margin-top: 20px;
    height: 35px;
    font-style: none;
    text-decoration: none;
    /* margin-top: 70px; */

    /* margin-left: 10vw; */
    /* margin-left: 60px; */
    /* background-color: rgb(56, 56, 74); */
    
}

.homei{
    margin-left: 10vw;
}

li a:hover{
    color: white;
    transition: 0.3s;
}




.container{
    display: flex;
    flex-direction: column;
    z-index: 0;
    /* margin-left: 10vw; */
    /* background-color: blue; */

}

.text-container{
    /* background-color: tomato; */
    height: 50vh;
    width: 50vw;
    margin-top: 20vh; 
    z-index: 1;
    margin-left: 10vw; 
}

.mainline{
    font-family: main;
    color: white;
    font-size: 120px;
    /* background-color: blue; */
    margin-top: 0;
    margin-bottom: 0;
}

.description{
    color: rgb(213, 39, 118);
    font-size: 30px;
    font-family: main;
    margin-left: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.firstbutton{
    height: 80px;
    width: 170px;
    background-color: rgb(213, 39, 118);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 45px;

}

.firstbutton:hover{ 
    background-color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.firstbuttonname{
    height: 50px;
    width: 150px;
    font-size: 25px;
    color: white;
    font-family: main;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    border-radius: 5px;
    margin-top: 15px;
    

}

.firstbutton:hover .firstbuttonname{
    color: rgb(213, 39, 118);
    box-shadow: 20px;
}



.othercontainer{
    height: 350vh;
    width: 100vw;
    display: flex;
    background-image: url('./assets/pattern.jpeg');
    background-size: cover;
    /* background-color: blue; */
    z-index: 0;
    /* justify-content: center; */

}


.overlay2{
    position: absolute;
    width: 100%;
    height: 350vh;
    background-color: rgba(0, 0, 0, 0.5);

}

/* .overlay3{
    position: absolute;
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));


} */

.aboutcontainer{
    height: 50vh;
    width: 85vw;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 14%;
    margin-bottom: 0;
    gap: 10vw;
    /* background-color: blue; */
}

.abouttext{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: tomato; */
    margin-left: 5%;
    /* background-color: rgb(151, 26, 26); */
}

.heading{
    font-family: main;
    color: white;
    font-size: 100px;
    /* background-color: blue; */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.aboutdescription{
    color: rgb(213, 39, 118);
    font-size: 25px;
    font-family: main;
    /* margin-left: 30px; */
}

.weallogo{
    height: 400px;
    width: 400px;
    aspect-ratio: 1;
    margin-top: -30px;
}

.finalcontainer{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.suncontainer{
    height: 65vh;
    width: 65vw;
    /* background-color: tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 5%; */
    /* align-items: center; */
}

.headline{
    font-family: main;
    color: white;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
}

.rdescription{
    color: rgb(213, 39, 118);
    font-size: 25px;
    font-family: main;
    margin-left: 7%;
}

.chat{
    height: 400px;
    width: 400px;
    border-radius: 50px;
    margin-top: 65px;
}

.ogcontainer{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 6%;
    /* background-color: blue; */
}

.submit{
    margin-left: 42%;
}


/* .message{
    height: 30%;
    width: 90%;
    background-color: rgb(36, 36, 36);
    border-radius: 50px;
    margin-left: 7%;
    border: none;
    color: white;
    font-size: x-large;
    font-family: main;
    
} */

.message {
    width: 90%;
    background-color: rgba(26, 26, 26, 0.85);
    border-radius: 20px;
    margin-left: 7%;
    border: none;
    color: white;
    font-size: x-large;
    font-family: main;
    padding: 10px; 
    resize: none; 
    overflow-y: scroll; 
    min-height: 150px;
    height: auto; 
}

.message::placeholder {
    color: lightgray;
}


.message::-webkit-scrollbar {
    width: 10px;
}

/* .message::-webkit-scrollbar-track {
    background: rgb(36, 36, 36);
    border-radius: 20px;

} */

.message::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.message::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.contactcontainer{
    height: 50vh;
    width: 85vw;
    /* background-color: blue; */
    margin-top: 10%;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.contact{
    height: 700px;
    aspect-ratio: 1;
    margin-left: 20vw;
}

.contacttext{
    /* background-color: tomato; */
    width: 35vw;
    margin-top: 10%;
}

.contactheading{
    font-family: main;
    color: white;
    font-size: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}


.contactbutton{
    height: 100px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
    
}

.instalink{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.insta{
    height: 60px;
    aspect-ratio: 1.2;
    border-radius: 20px;
}

.name{
    color: rgb(213, 39, 118);
    font-size: 30px;
    font-family: main;
    margin-top: 10px;
}

.carouselcontainer{
    background-color: rgba(0, 0, 0, 0);
    /* background-color: blue; */
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    margin-top: 20vh;
}

.carouselimage{
    border-radius: 20px;
    margin-left: 10%;
}


.events{
    font-family: main;
    color: white;
    font-size: 100px;
    margin-left: 27vw;
    margin-bottom: 6vh;
}


.submitbutton{
    height: 80px;
    width: 170px;
    background-color: rgb(213, 39, 118);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 45px;
}

.submitbutton:hover{
    background-color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.submitname{
    height: 50px;
    width: 150px;
    font-size: 25px;
    color: white;
    font-family: main;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    border-radius: 5px;
    margin-top: 15px;
}


.submitbutton:hover .submitname{
    color: rgb(213, 39, 118);
    box-shadow: 20px;
}


